<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intelisale.sync">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_sync">
        <dist:fusing dist:include="true" />
    </dist:module>
    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning"></application>
</manifest>

